
.title {
    text-align: center;
    margin-top: 25px;
}

/* .style {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.form {
    margin: auto;
    max-width: 400px;
    text-align: center;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;

}

td {
    background-color: aliceblue;
    padding-right: 10px;
    text-align: left;
}

.to-do {
    background: transparent !important;
}

.spacer {
    height: 25px;
    width: 100%;
    background-color: green;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pie-chart-title {
    text-align: center;
}

/* For large screens, the nav bar goes to the top row of the page, pushing the nav buttons on the right JCPhoto on the left,
   using space-between command */
   @media (min-width: 900px) {
    .style {
        width: 350px;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        margin-left: 5rem;
    }

    .temp-container {
        width: 350px;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        margin-left: 5rem;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        float: right;
        justify-content: center;
        margin-right: 3rem;

    }

    .spacer {
        height: 25px;
        width: 0%;
        background-color: none;
        margin-top: none;
        margin-bottom: none;    }
    
}

